@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Verse */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* List in chapte 2-8 */
ul{
	list-style-type: none;
}

ul li + li{
	margin-top: .5em;
}
